<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InspectionSiteUrl" value="https://www.gov.uk/government/statistical-data-sets/monthly-management-information-ofsteds-further-education-and-skills-inspections-outcomes-from-december-2015"/>
    <add key="LinkText" value="Management information"/>
    <add key="WorksheetName" value="D2 Most recent inspection data"/>
    <add key="WebLinkHeading" value="Web link"/>
    <add key="UkPrnHeading" value="Provider UKPRN"/>
    <add key="DatePublishedHeading" value="Date published"/>
    <add key="OverallEffectivenessHeading" value="Overall effectiveness"/>
  </appSettings>
</configuration>